<div class="main-container justify-center">
    <div class="flex flex-col gap-2 h-60 mt-40 mb-4">
        <div class="text-red-400 text-8xl font-black text-center font-mono">
            404
        </div>
        <div class="text-red-400 text-2xl font-medium text-center font-mono">
            PAGE NOT FOUND
        </div>
    </div>
    <div class="flex flex-col text-center gap-2 px-64 mb-4">
        <p>
            Uhhh... I don't know where you wanted to go, but there's nothing here. ...You should go back now.
        </p>
    </div>
</div>