<app-section-title
    title="The Blog"
    description="Welcome to my very serious place where I get very serious (definetely not)"
></app-section-title>
<p-divider></p-divider>
<section class="main-section">
    I had to create a place where to write a lot, and I needed a blog for that. Luckily, I know how to make a multipurpose website!
</section>
<p-divider></p-divider>
<div class="flex flex-col justify-center px-64 gap-4">
    @if (this.session.admin) {
        <p-button [rounded]="true" [routerLink]="'/admin/blog/new'" label="Create New Post"/>
    }
    
    @if (posts !== undefined) {
        @for (post of posts; track post.id) {
            <p-panel>
                <ng-template #header>
                    <div class="flex items-center gap-3">
                        <div class="flex items-center gap-2">
                            <p-avatar image="../../assets/mylogo.png" shape="circle" />
                            <span class="font-bold">{{ post.author }}</span>
                        </div>
                        <span class="font-light text-surface-400 pr-1" [pTooltip]="dateTooltip" tooltipPosition="right">{{ post.getTimeElapsed() }}</span>
                        <ng-template #dateTooltip>
                            <span class="text-small">{{ post.getFormattedTime() }}</span>
                        </ng-template>
                    </div>
                </ng-template>
                <ng-template #icons>
                    @if (this.session.admin) {
                        <p-button icon="pi pi-cog" severity="secondary" rounded text (click)="menu.toggle($event)" />
                        <p-menu #menu id="config_menu" [model]="menuItems" [popup]="true">
                            <ng-template #item let-item>
                                <a pRipple class="flex items-center p-menu-item-link" (click)="item.action(post.id)">
                                    <span [class]="item.icon"></span>
                                    <span class="ml-2">{{ item.label }}</span>
                                </a>
                            </ng-template>
                        </p-menu>
                    }
                </ng-template>
                <div class="flex flex-col m-0 gap-3">
                    <h2 class="text-2xl font-black">{{ post.title }}</h2>
                    <p>
                        {{ post.getContentPreview() }}
                    </p>
                </div>
                <ng-template #footer>
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <div class="flex items-center gap-2">
                            @if (post.id === null) {
                                <p-button icon="pi pi-arrow-circle-right" rounded text label="Read more" disabled></p-button>
                            } @else {
                                <p-button icon="pi pi-arrow-circle-right" rounded text label="Read more" [routerLink]="post.id?.toString()"></p-button>
                            }
                        </div>
                        <div class="flex gap-2">
                            @for (tag of post.getFormattedTags(); track tag) {
                                <p-tag class="text-xs" value="{{ tag }}" [rounded]="true"/>
                            }
                        </div>
                    </div>
                </ng-template>
            </p-panel>
        }
    } @else {
        @for (x of placeholders; track x) {
            <p-panel>
                <ng-template #header>
                    <div class="flex items-center gap-3">
                        <div class="flex items-center gap-2">
                            <p-skeleton shape="circle" size="2rem" />
                            <p-skeleton width="6rem" borderRadius="16px"/>
                        </div>
                        <p-skeleton class="mr-2" width="6rem" borderRadius="16px"/>
                    </div>
                </ng-template>
                <div class="flex flex-col m-0 gap-3">
                    <p-skeleton class="mr-2" width="16rem" height="1.5rem" borderRadius="16px"/>
                    <p-skeleton class="mr-2" width="100%" borderRadius="16px"/>
                    <p-skeleton class="mr-2" width="100%" borderRadius="16px"/>
                    <p-skeleton class="mr-2" width="15rem" borderRadius="16px"/>
                </div>
                <ng-template #footer>
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <div class="flex items-center gap-2">
                        </div>
                        <div class="flex gap-2">
                            <p-skeleton class="mr-2" width="3rem" borderRadius="16px"/>
                            <p-skeleton class="mr-2" width="3rem" borderRadius="16px"/>
                        </div>
                    </div>
                </ng-template>
            </p-panel>
        }
    }
</div>
<!-- confirm dialog for when Delete is clicked -->
<p-dialog header="Delete Post" [modal]="true" [(visible)]="this.deleteDialogVisible" [style]="{ width: '25rem' }" [draggable]="false">
    <span class="p-text-secondary block mb-8">Are you sure you want to <b>PERMANENTLY DELETE</b> this post? This action is irreversible.</span>
    <div class="flex justify-end gap-2">
        <p-button rounded label="Back" severity="secondary" (click)="this.deleteDialogVisible = false" />
        <p-button rounded label="DELETE" severity="danger" (click)="this.deleteSelectedPost()" />
    </div>
</p-dialog>