<app-section-title
    title="andr3x40's Lab"
    description="A personal website of an Italian guy who likes to create things"
></app-section-title>
@for (item of items; track item) {
    <p-divider></p-divider>
    <p-panel>
        <ng-template #header>
            <div>
                <span class="text-3xl font-black text-blue-400">
                    @if (item.link === undefined) {
                        {{item.header}}
                    }
                    @else {
                        <a class="hover:text-blue-300" [routerLink]="item.link">{{item.header}}</a>
                    }
                </span>
            </div>
        </ng-template>
        <p class="m-0 panel-text">
            {{item.text}}
        </p>
    </p-panel>
}
