<app-section-title
    title="Project R:\GHRB"
    description="Another way for me to share the music I like"
></app-section-title>
<p-divider/>
<section class="main-section">
    This project is not related to coding, but to music and videogames. I started doing this in 2020 out of boredom and loved it, so I kept going.<br>
    Here's quality content for Guitar Hero and Rock Band clone games, such as Clone Hero, YARG or Fret Smasher.
</section>
<p-divider></p-divider>
<section class="flex flex-row justify-center gap-4">
    @for (item of items; track item) {
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
            <ng-template #header>
                <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </ng-template>
            <ng-template #title>
                <span class="font-black text-2xl">{{ item.header }}</span>
            </ng-template>
            <p class="text">
                {{ item.text }}
            </p>
            <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    @if (item.link !== undefined) {
                        <p-button label="View" class="w-full" styleClass="w-full" [routerLink]="item.link"/>
                    } @else {
                        <p-button label="WIP" severity="secondary" class="w-full" styleClass="w-full" [disabled]="true"/>
                    }
                </div>
            </ng-template>
        </p-card>
    }
</section>