.main-section {
    text-align: center;
}

.panel-header-container {
    margin-bottom: -15px;
}

.panel-header {
    font-size: 2em;
    font-weight: 900;
}

.panel-text {
    white-space: pre-line;
}