<app-section-title
    title="My Projects"
    description="Everything I'm working or have worked on"
></app-section-title>
<p-divider></p-divider>
<div class="flex flex-col px-96 gap-3">
    @for (item of items; track item) {
        @if (item.link !== undefined) {
            <a [routerLink]="item.link">
                <p-card class="border-2 border-surface-900 hover:border-surface-600">
                    <ng-template #title>
                        <span class="font-black text-2xl">{{ item.header }}</span>
                    </ng-template>
                    <p class="panel-text">
                        {{ item.text }}
                    </p>
                </p-card>
            </a>
        } @else if (item.externalLink !== undefined) {
            <a [href]="item.externalLink">
                <p-card class="border-2 border-surface-900 hover:border-surface-600">
                    <ng-template #title>
                        <span class="font-black text-2xl">{{ item.header }}</span>
                    </ng-template>
                    <p class="panel-text">
                        {{ item.text }}
                    </p>
                </p-card>
            </a>
        } @else {
            <p-card class="border-2 border-surface-900">
                <ng-template #title>
                    <span class="font-black text-2xl">{{ item.header }}</span>
                </ng-template>
                <p class="panel-text">
                    {{ item.text }}
                </p>
            </p-card>
        }
    }
</div>

