<app-section-title
    title="My Projects"
    description="Everything I'm working or have worked on"
></app-section-title>
@for (item of items; track item) {
    <p-divider></p-divider>
    <p-panel>
        <ng-template #header>
            <div>
                <span class="text-3xl font-black text-blue-400">
                    @if (item.link !== undefined) {
                        <a class="hover:text-blue-300" [routerLink]="item.link">{{item.header}}</a>
                    }
                    @else if (item.externalLink !== undefined) {
                        <a class="hover:text-blue-300" href="{{item.externalLink}}">{{item.header}}</a>
                    }
                    @else {
                        {{item.header}}
                    }
                </span>
            </div>
        </ng-template>
        <p class="m-0 panel-text">
            {{item.text}}
        </p>
    </p-panel>
}
