<div class="flex flex-col m-0 px-96 mt-32">
    <h2 class="text-4xl font-black mb-2">Create Chart</h2>
    <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>Read Files</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-120">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex flex-col h-120 justify-center items-center font-medium gap-4"
                        >
                            <div class="w-full px-4 card flex flex-wrap gap-6 items-center justify-between">
                                <p-toast />
                                <p-fileupload class="w-full" (onSelect)="onSelect($event)" [multiple]="true" accept=".chart, .ini" maxFileSize="1000000" mode="advanced">
                                    <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback">
                                        <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                                            <div class="flex gap-2">
                                                <p-buttongroup>
                                                    <p-button rounded (onClick)="choose($event, chooseCallback)" label="Load" />
                                                    <p-button rounded (onClick)="clearCallback()" label="Clear" severity="danger" [disabled]="!files || files.length === 0"/>
                                                </p-buttongroup>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback">
                                        <div class="flex flex-row gap-8 pt-4">
                                            @if (files.length > 0) {
                                                <div class="flex flex-wrap gap-4">
                                                    @for (file of files; track $index) {
                                                        <div class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                                                            <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                                            <div>{{ this.formatSize(file.size) }}</div>
                                                            <p-button icon="pi pi-times" (click)="removeFile($event, file, removeFileCallback, $index)" [outlined]="true" [rounded]="true" severity="danger" />
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </ng-template>
                                    <ng-template #file></ng-template>
                                    <ng-template #empty>
                                        <div class="flex items-center justify-center flex-col">
                                            <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                                            <p class="mt-6 mb-0">Import files of a chart to read them.</p>
                                        </div>
                                    </ng-template>
                                </p-fileupload>
                            </div>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button rounded label="Read" icon="pi pi-arrow-down" iconPos="right" (onClick)="this.readFiles()" (onClick)="activateCallback(2)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="2">
            <p-step>Track Details</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-120">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <form [formGroup]="trackForm" class="grid grid-cols-12 gap-6 w-full m-6">
                                <div class="flex flex-col col-span-6">
                                    <span>Title</span>
                                    <input pInputText formControlName="title" [invalid]="!this.checkFieldValidity(trackForm, 'title')"/>
                                </div>
                                <div class="flex flex-col col-span-6">
                                    <span>Artist</span>
                                    <input pInputText formControlName="artist" [invalid]="!this.checkFieldValidity(trackForm, 'artist')"/>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Album</span>
                                    <input pInputText formControlName="album" [invalid]="!this.checkFieldValidity(trackForm, 'album')"/>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Genre</span>
                                    <input pInputText formControlName="genre" [invalid]="!this.checkFieldValidity(trackForm, 'genre')"/>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Year of Release</span>
                                    <input pInputText formControlName="year" [invalid]="!this.checkFieldValidity(trackForm, 'year')"/>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Length</span>
                                    <p-inputgroup>
                                        <p-inputnumber formControlName="length" [invalid]="!this.checkFieldValidity(trackForm, 'length')">
                                        </p-inputnumber>
                                        <p-inputgroup-addon>seconds</p-inputgroup-addon>
                                    </p-inputgroup>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Minimum BPM</span>
                                    <p-inputgroup>
                                        <p-inputnumber formControlName="minimumBpm" [invalid]="!this.checkFieldValidity(trackForm, 'minimumBpm')">
                                        </p-inputnumber>
                                        <p-inputgroup-addon>BPM</p-inputgroup-addon>
                                    </p-inputgroup>
                                </div>
                                <div class="flex flex-col col-span-4">
                                    <span>Maximum BPM</span>
                                    <p-inputgroup>
                                        <p-inputnumber formControlName="maximumBpm" [invalid]="!this.checkFieldValidity(trackForm, 'maximumBpm')">
                                        </p-inputnumber>
                                        <p-inputgroup-addon>BPM</p-inputgroup-addon>
                                    </p-inputgroup>
                                </div>
                                <div class="flex flex-col col-span-12">
                                    <div class="grid grid-cols-12 gap-6 items-center">
                                        <div class="flex flex-col col-span-2">
                                            <img
                                            class="block xl:block mx-auto rounded-border w-full"
                                            src="{{this.albumCoverPreview !== undefined ? this.albumCoverPreview : '../../../../assets/placeholder.jpg'}}"
                                            />
                                        </div>
                                        <div class="flex flex-col col-span-10">
                                            <p-inputgroup>
                                                <input pInputText formControlName="albumLink" placeholder="Cover Link" [invalid]="!this.checkFieldValidity(trackForm, 'albumLink')"/>
                                                <p-inputgroup-addon>
                                                    <p-button icon="pi pi-sync" severity="secondary" (click)="this.reloadAlbumCoverImage()"/>
                                                </p-inputgroup-addon>
                                            </p-inputgroup>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button rounded label="Change Files" severity="secondary" icon="pi pi-arrow-up" iconPos="left" (onClick)="activateCallback(1)" />
                        <p-button rounded label="Next" icon="pi pi-arrow-down" iconPos="right" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="3">
            <p-step>Track Links</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-120">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <form [formGroup]="chartForm" class="grid grid-cols-12 gap-6 w-full m-6">
                                <div class="flex flex-col col-span-12">
                                    <span>Spotify</span>
                                    <input pInputText formControlName="spotifyLink" [invalid]="!this.checkFieldValidity(chartForm, 'spotifyLink')"/>
                                </div>
                                <div class="flex flex-col col-span-12">
                                    <span>YouTube</span>
                                    <input pInputText formControlName="youtubeLink" [invalid]="!this.checkFieldValidity(chartForm, 'youtubeLink')"/>
                                </div>
                                <div class="flex flex-col col-span-12">
                                    <span>Soundcloud</span>
                                    <input pInputText formControlName="soundcloudLink" [invalid]="!this.checkFieldValidity(chartForm, 'soundcloudLink')"/>
                                </div>
                                <div class="flex flex-col col-span-12">
                                    <span>Bandcamp</span>
                                    <input pInputText formControlName="bandcampLink" [invalid]="!this.checkFieldValidity(chartForm, 'bandcampLink')"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button rounded label="Back" icon="pi pi-arrow-up" severity="secondary" iconPos="left" (onClick)="activateCallback(2)" />
                        <p-button rounded label="Next" icon="pi pi-arrow-down" iconPos="right" (onClick)="activateCallback(4)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="4">
            <p-step>Chart Details</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-120">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <form [formGroup]="chartForm" class="grid grid-cols-12 gap-6 w-full m-6">
                                <div class="flex flex-col col-span-4">
                                    <span>Source</span>
                                    <input pInputText formControlName="source" [invalid]="!this.checkFieldValidity(chartForm, 'source')"/>
                                </div>
                                <div class="flex flex-col col-span-8">
                                    <span>Download Link</span>
                                    <input pInputText formControlName="downloadLink" [invalid]="!this.checkFieldValidity(chartForm, 'downloadLink')"/>
                                </div>
                                <div class="flex flex-col col-span-12">
                                    <span>Description</span>
                                    <textarea pTextarea formControlName="description" rows="7" style="resize: none" [invalid]="!this.checkFieldValidity(chartForm, 'description')"></textarea>
                                </div>
                                <div class="flex flex-col col-span-8">
                                    <span>Tags</span>
                                    <input pInputText formControlName="tags" [invalid]="!this.checkFieldValidity(chartForm, 'tags')"/>
                                </div>
                                <div class="flex flex-row gap-1 items-center justify-center col-span-4">
                                    <p-checkbox formControlName="public" [binary]="true" [invalid]="!this.checkFieldValidity(chartForm, 'public')"/>
                                    <label>Make Public</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button rounded label="Back" icon="pi pi-arrow-up" severity="secondary" iconPos="left" (onClick)="activateCallback(3)" />
                        <p-button rounded label="Next" icon="pi pi-arrow-down" iconPos="right" (onClick)="activateCallback(5)" />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]="5">
            <p-step>Variants</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-120">
                        <div
                            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                        >
                            <div class="flex flex-col w-full m-2 gap-2">
                                <div class="grid grid-cols-30 w-full gap-2">
                                    <span class="col-span-6">Charter</span>
                                    <span class="col-span-6">Gamemode</span>
                                    <span class="col-span-6">Difficulty</span>
                                    <span class="col-span-3">Intensity</span>
                                    <span class="col-span-3">Diff. Code</span>
                                    <span class="col-span-6">Tags</span>
                                </div>
                                @for (variantForm of variantForms; track $index) {
                                    <form [formGroup]="variantForm" class="grid grid-cols-30 w-full gap-2">
                                        <input pInputText class="col-span-6" formControlName="charter" [invalid]="!this.checkFieldValidity(variantForm, 'charter')"/>
                                        <input pInputText class="col-span-6" formControlName="gamemode" [invalid]="!this.checkFieldValidity(variantForm, 'gamemode')"/>
                                        <input pInputText class="col-span-6" formControlName="difficulty" [invalid]="!this.checkFieldValidity(variantForm, 'difficulty')"/>
                                        <input pInputText class="col-span-3" formControlName="intensity" [invalid]="!this.checkFieldValidity(variantForm, 'intensity')"/>
                                        <input pInputText class="col-span-3" formControlName="difficultyCode" [invalid]="!this.checkFieldValidity(variantForm, 'difficultyCode')"/>
                                        <input pInputText class="col-span-6" formControlName="tags" [invalid]="!this.checkFieldValidity(variantForm, 'tags')"/>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button rounded label="Back" icon="pi pi-arrow-up" severity="secondary" iconPos="left" (onClick)="activateCallback(4)" />
                        <p-button-group>
                            <p-button rounded label="Add" icon="pi pi-plus" severity="primary" iconPos="left" (onClick)="addNewVariantForm()" />
                            <p-button rounded label="Remove Last" icon="pi pi-minus" severity="danger" iconPos="right" (onClick)="removeLastVariantForm()" />
                        </p-button-group>
                        <p-toast position="bottom-center" key="bottom"/>
                        <p-button rounded label="Save" icon="pi pi-check" severity="success" iconPos="right" (onClick)="confirmChart()"/>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
    <p-divider/>
    <div class="flex gap-2 justify-between text-surface-600 text-xs">
        <p-button rounded icon="pi pi-minus-circle" label="Cancel" severity="danger" (click)="confirmCancel()"></p-button>
    </div>
</div>