<div class="flex flex-col m-0 px-96 mt-32">
    @if (this.post !== undefined) {
        <h2 class="text-4xl font-black">{{ this.post !== null ? this.post.title : "No Post Available" }}</h2>
        <div class="flex items-center gap-3 my-2">
            <div class="flex items-center gap-2">
                <p-avatar image="../../assets/mylogo.png" shape="circle" />
                <span class="font-bold">{{ this.post !== null ? this.post.author : "No Author" }}</span>
            </div>
            <span class="font-light text-surface-400 pr-1" [pTooltip]="dateTooltip" tooltipPosition="right">{{ this.post !== null ? post.getTimeElapsed() : "Never" }}</span>
            <ng-template #dateTooltip>
                <span class="text-small">{{ this.post !== null ? post.getFormattedTime() : "It was never posted." }}</span>
            </ng-template>
            @if (this.post !== null) {
                @for (tag of this.post.getFormattedTags(); track tag) {
                    <p-tag class="text-xs" value="{{ tag }}" [rounded]="true"/>
                }
            }
        </div>
        <div class="post-content m-0 my-8" [innerHTML]="this.post !== null ? (this.post.content | markdownRenderer) : `There's no post here.`"></div>
        <p-divider/>
        <div class="flex gap-2 justify-between text-surface-600 text-xs">
            @if (this.post !== null) {
                <p-button icon="pi pi-arrow-circle-left" rounded text label="Previous Post" (click)="goToPreviousPost()" [disabled]="this.previousPostId === undefined || this.previousPostId === null"></p-button>
                <p-button icon="pi pi-arrow-circle-right" rounded text label="Next Post" (click)="goToNextPost()" [disabled]="this.nextPostId === undefined || this.nextPostId === null"></p-button>
            }
        </div>
    } @else {
        <p-skeleton width="15rem" height="2rem" borderRadius="16px"/>
        <div class="flex items-center gap-3 my-2">
            <div class="flex items-center gap-2">
                <p-skeleton shape="circle" size="2rem" />
                <p-skeleton width="5rem" borderRadius="16px"/>
            </div>
            <p-skeleton width="5rem" borderRadius="16px"/>
        </div>
        <p class="m-0 my-8 flex flex-col gap-2">
            <p-skeleton width="100%" borderRadius="16px"/>
            <p-skeleton width="100%" borderRadius="16px"/>
            <p-skeleton width="100%" borderRadius="16px"/>
            <p-skeleton width="100%" borderRadius="16px"/>
            <p-skeleton width="15rem" borderRadius="16px"/>
        </p>
    }
</div>