<app-section-title
    title="About Myself"
    description="The guy behind all this mess"
></app-section-title>
<p-divider />
<div class="px-96">
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header><h2 class="text-2xl font-bold">In summary</h2></p-accordion-header>
            <p-accordion-content>
                <p class="m-0 mb-2">
                    I'm a {{myAge}} y/o Italian guy who likes to create things. That's how I usually describe myself in a couple of words.
                </p>
                <p class="m-0">
                    Right now, I'm (still) a Computer Engineering student at Roma Tre University.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
            <p-accordion-header><h2 class="text-2xl font-bold">Past Working Experiences</h2></p-accordion-header>
            <p-accordion-content>
                <p class="m-0 mb-2">
                    If we can call it a working experience, I used to be a video editor for <a href="https://www.youtube.com/@Poldo" class="text-primary hover:underline">Poldo</a>, an Italian content creator. I usually worked for its gaming channel, <a href="https://www.youtube.com/@PoldoGaming" class="text-primary hover:underline">Poldo Gaming</a>, but for a short period of time, I was editing videos for his main channel too.<br>
                    He then moved on to video essays, and he got better video editors for that. I mean, I was good, but my plastic laptop with a GTX 1650 and a faulty fan can't even run Blender.
                </p>
                <p class="m-0">
                    And... that's all, actually. I didn't really do much other than this.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header><h2 class="text-2xl font-bold">Hobbies & Interests</h2></p-accordion-header>
            <p-accordion-content>
                <p class="m-0 mb-2">
                    First off, <strong>coding</strong> and <strong>technology</strong> in general.<br>
                    I learned the fundamentals of coding by myself with Scratch (I'm not kidding) and now I can code in C, Java, Python and that disgusting demon that is JavaScript. I can add more to this list, just give me a proper documentation and I can easily adapt to whatever programming language you give me. Except esoteric languages.<br>
                    When it comes to technology, I usually start to hate it when it works one day and it stops working for the next month, like my printer.
                </p>
                <p class="m-0 mb-2">
                    Second off, <strong>videogames</strong>.<br>I began at 6 years old with my family's old computer and — get ready — arcade games with MAME32, and now I just love playing games with a cool story or an interesting gameplay.<br>
                    Among all the games I played in all this time, titles like Minecraft, Celeste, Persona 3 Reload and 5 Royal, OneShot, Hollow Knight, Rocket League and the Super Mario series stand out from the rest. Good luck figuring out which genre I like the most because I don't know as well.
                </p>
                <p class="m-0">
                    Third off, <strong>music</strong>.<br>I'm trying to learn how to play guitar after getting an electric guitar and I don't know how to play it with a pick lol<br>
                    You'd say I'm a big fan of rock/metal music, but I prefer electronic music more, even if I listen to many more genres.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="3">
            <p-accordion-header><h2 class="text-2xl font-bold">Social Media</h2></p-accordion-header>
            <p-accordion-content>
                <p class="m-0 mb-2">
                    I usually post nonsensical stuff and potentially get myself in trouble by looking as a crazy person, but I'm not serious on social media and I'm only having fun.<br>If you're somehow interested, here's where you can find me.
                </p>
                <div class="w-full flex flex-row justify-center gap-4 mb-2">
                    @for (social of mainSocials; track social.name) {
                        <a href="{{social.link}}" [pTooltip]="tooltipContent" tooltipPosition="bottom">
                            <p-button [rounded]="true" variant="outlined">
                                <div class="w-20 font-black">
                                    {{ social.name }}
                                </div>
                            </p-button>
                            <ng-template #tooltipContent>
                                <div class="w-full flex flex-col items-center text-sm">
                                    <span>{{ social.tip }}</span>
                                    <span>{{ social.nickname }}</span>
                                </div>
                            </ng-template>
                        </a>
                    }
                    @for (social of otherSocials; track social.name) {
                        <a href="{{social.link}}" [pTooltip]="tooltipContent" tooltipPosition="bottom">
                            <p-button [rounded]="true" variant="outlined" severity="secondary">
                                <div class="w-20 font-black">
                                    {{ social.name }}
                                </div>
                            </p-button>
                            <ng-template #tooltipContent>
                                <div class="w-full flex flex-col items-center text-sm">
                                    <span>{{ social.tip }}</span>
                                    <span>{{ social.nickname }}</span>
                                </div>
                            </ng-template>
                        </a>
                    }
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
